@import "reset";

$greydark: rgb(49, 49, 49);
$greyregular: rgb(100, 100, 100);
$greylight: rgb(150, 150, 150);

body {
  font-size: 18px;
}

header {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;

  & > span {
    position: absolute;
    top: 10px;
    left: 10px;
    align-self: flex-start;
  }

  & > div {
    background-color: $greylight;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    justify-content: center;
  }

  & > .logo {
    height: 100px;
    width: 150px;
  }

  & > .nav-links {
    height: 100px;
    width: 100px;
    background-color: $greyregular;
  }

  & > .search {
    height: 50px;
    width: 100px;
  }
}

main {
  width: 100%;
}

.latest-articles {
  background-color: $greydark;
  height: 1000px;
}

.general-articles {
  background-color: $greylight;
  height: 1500px;
}

.coming-up {
  background-color: $greydark;
  height: 500px;
}

.community-links {
  height: 800px;
}

.featured {
  background-color: $greydark;
  height: 400px;
}

.curated-posts {
  background-color: $greyregular;
  height: 600px;
}

.newsletter {
  height: 600px;

  .cta {
    background-color: $greydark;
    max-width: 1400px;
    margin: 100px auto;
    border-radius: 12px;
  }
}

footer {
  width: 100%;
  height: 600px;
}
