*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 1px;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: sans-serif;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  color: #222;
  margin: 0;
}

main {
  display: block;
}

template {
  display: none;
}

textarea {
  overflow: auto;
}

figure {
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

[hidden] {
  display: none;
}

img {
  border-style: none;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

cite {
  font-style: normal;
}

h1 {
  font-size: 18rem;
}

pre {
  font-family: monospace;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25rem;
}

sup {
  top: -0.5rem;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

details {
  display: block;
}

summary {
  display: list-item;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

input {
  background-color: transparent;
  color: inherit;
  padding: 0;
  margin: 1px;
  border: 1px solid grey;
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
  cursor: pointer;
  border: 1px solid grey;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

input:disabled {
  border: 1px solid grey;
  cursor: not-allowed;
}

button,
select {
  text-transform: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  border: 1px solid grey;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted blue;
}

button:disabled {
  cursor: not-allowed;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

progress {
  vertical-align: baseline;
}

body {
  font-size: 18px;
}

header {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

header > div {
  background-color: #969696;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header > .logo {
  margin: 2px;
  height: 100px;
  width: 250px;
  font-size: 42px;
  font-weight: bold;
  color: white;
  text-align: center;
}

header > .nav-links {
  margin: 2px;
  height: 100px;
  width: 200px;
  background-color: #646464;
  font-size: 42px;
  font-weight: bold;
  color: white;
  text-align: center;
}

header > .search {
  margin: 2px;
  height: 50px;
  width: 200px;
  font-size: 42px;
  font-weight: bold;
  color: white;
  text-align: center;
}

main {
  width: 100%;
}

.latest-articles {
  background-color: #646464;
  height: 1000px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.latest-articles__mainTitle {
  position: absolute;
  background-color: #313131;
  width: 400px;
  height: 80px;
  left: 50%;
  top: 15%;
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
  font-size: 42px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.latest-articles__mainArticle {
  text-align: center;
  outline: 1px solid #969696;
  width: 50%;
  height: 500px;
}

.latest-articles__title {
  margin-top: 45px;
  margin-left: 20px;
  font-size: 42px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.latest-articles__textDummy {
  margin-top: 40px;
  margin-left: 5%;
  width: 90%;
  height: 45px;
  background-color: white;
}

.general-articles {
  background-color: #969696;
  height: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.general-articles__article {
  width: 25%;
  height: 500px;
  outline: 1px solid #313131;
}

.articleTitle {
  margin-top: 40px;
  margin-left: 5%;
  width: 90%;
  height: 45px;
  background-color: white;
}

.articleParagraph {
  margin-top: 40px;
  margin-left: 5%;
  width: 90%;
  height: 55%;
  background-color: white;
}

.ad {
  width: 25%;
  height: 500px;
  outline: 1px solid #313131;
}

.ad > div {
  margin: 40px auto;
  width: 280px;
  height: 280px;
  background-color: #313131;
  font-size: 42px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.signIn {
  width: 50%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: 1px solid #313131;
}

.signIn__container {
  width: 90%;
  height: 90%;
  border-radius: 16px;
  background-color: #646464;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}

.signIn__image {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signIn__image > div {
  width: 150px;
  height: 150px;
  background-color: #313131;
  font-size: 42px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.signIn__title {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signIn__title > div {
  width: 55%;
  height: 40px;
  background-color: white;
}

.signIn__text {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signIn__text > div {
  width: 60%;
  height: 50px;
  background-color: white;
}

.signIn__button {
  display: block;
  width: 25%;
  height: 50px;
  background-color: #313131;
  border-radius: 10px;
  font-size: 42px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.coming-up {
  background-color: #313131;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.community-links {
  height: 800px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.community-links__row {
  height: 200px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.community-links__person {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.community-links__article {
  width: 40%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.community-links__image {
  width: 100px;
  height: 100px;
  background-color: #313131;
  margin: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  font-size: 42px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.community-links__image:hover {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.community-links__text {
  width: 80%;
  height: 50px;
  background-color: #646464;
  margin: 20px;
}

.--person {
  width: 150px;
  height: 150px;
}

.featured {
  background-color: #313131;
  height: 400px;
}

.curated-posts {
  background-color: #646464;
  height: 600px;
}

.newsletter {
  height: 600px;
}

.newsletter .cta {
  background-color: #313131;
  max-width: 1400px;
  margin: 100px auto;
  border-radius: 12px;
}

.--hid {
  background-color: #646464;
}

.membership {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #646464;
  height: 550px;
  width: 100%;
  background-color: #969696;
}

.membership__text {
  margin-top: 45px;
  margin-left: 45px;
  width: 500px;
  height: 45px;
  background-color: white;
}

.membership__floatingButton {
  background-color: #313131;
  margin-right: 200px;
  margin-top: 50px;
  width: 400px;
  height: 300px;
  margin-left: auto;
  font-size: 42px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.--membershipButton {
  background-color: #313131;
  width: 400px;
  height: 65px;
  font-size: 42px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #646464;
  height: 550px;
  width: 100%;
  background-color: #969696;
}

.curated-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90vw;
  height: 900px;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: #646464;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newsletter__text {
  width: 40vw;
  height: 40px;
  background-color: white;
  margin: 20px;
}

.newsletter__Img {
  width: 30vw;
  height: 30vw;
  background-color: #313131;
  margin: 50px;
  font-size: 42px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.newsletter__inputAction {
  width: 35vw;
  height: 60px;
  background-color: white;
  margin: 20px;
  font-size: 42px;
  font-weight: bold;
  color: #313131;
  text-align: center;
}

.footerContent {
  background-color: #313131;
  height: 800px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerContent__text {
  width: 80vw;
  height: 40px;
  background-color: #969696;
}

.footerContent__block {
  width: 400px;
  height: 300px;
  background-color: #969696;
  font-size: 42px;
  font-weight: bold;
  color: #313131;
  text-align: center;
}

.--smallTxt {
  width: 70vw;
  height: 35px;
}
/*# sourceMappingURL=main.css.map */